# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- azure-pipelines

pool:
  name: My_Local_Agent

steps:
- checkout: self
  clean: true

- script: |
    echo Workspace path:
    echo %BUILD_SOURCESDIRECTORY%
    echo.
    echo Repo contents:
    dir "%BUILD_SOURCESDIRECTORY%"
  displayName: "Verify repo cloned to agent workspace"






