trigger: none

pool:
  name: My_Local_Agent

steps:
- script: |
    "C:\Program Files (x86)\SmartBear\TestComplete 15\x64\Bin\TestComplete.exe" ^
    "C:\Users\deepak.mangalagatti\Downloads\Project-1\Project-1.pjs" ^
    /run ^
    /exit ^
    /SilentMode
  displayName: Run TestComplete
