# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml
trigger: none

pool:
  name: My_Local_Agent

steps:
# 1️⃣ Install VS Test Platform
- task: VisualStudioTestPlatformInstaller@1
  displayName: Install Visual Studio Test Platform
  inputs:
    packageFeedSelector: nugetOrg
    versionSelector: latestStable

# 2️⃣ Install TestComplete Adapter
- task: InstallTestCompleteAdapter@1
  displayName: Install TestComplete Adapter
  inputs:
    installExecutor: true
    updateExecutor: false
    searchMode: ExecutionPlan
    logsLevel: '0'

# 3️⃣ Run TestComplete project (LOCAL PATH)
- task: VSTest@3
  displayName: Run TestComplete Project-1
  inputs:
    testSelector: testAssemblies

    testAssemblyVer2: |
      C:\Users\deepak.mangalagatti\Downloads\Project-1\Project-1.pjs

    searchFolder: |
      C:\Users\deepak.mangalagatti\Downloads\Project-1

    vsTestVersion: toolsInstaller
    diagnosticsEnabled: true
    failOnMinTestsNotRun: true

# 4️⃣ Publish results
- task: PublishTestResults@2
  displayName: Publish Test Results
  condition: succeededOrFailed()
  inputs:
    testResultsFormat: VSTest
    testResultsFiles: '**/*.trx'
    searchFolder: '$(Agent.TempDirectory)'
    mergeTestResults: true

