# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml
trigger:
- azure-pipelines

pool:
  name: My_Local_Agent

steps:
- checkout: self
  clean: true

- script: |
    echo ===== Workspace =====
    echo %BUILD_SOURCESDIRECTORY%
    dir "%BUILD_SOURCESDIRECTORY%"
  displayName: "Verify repo cloned"

- script: |
    echo ===== Running TestComplete =====
    cd "%BUILD_SOURCESDIRECTORY%\Project-1"

    "C:\Program Files (x86)\SmartBear\TestComplete 15\x64\Bin\TestComplete.exe" ^
      "%BUILD_SOURCESDIRECTORY%\Project-1\Project-1.pjs" ^
      /run ^
      /exit ^
      /SilentMode
  displayName: "Run TestComplete Project"







