trigger: none

pool:
  name: My_Local_Agent

steps:
- checkout: self
  clean: true

- script: |
    echo === Running TestComplete Project ===
    echo Workspace: %BUILD_SOURCESDIRECTORY%
    dir "%BUILD_SOURCESDIRECTORY%\Project-1"

    "C:\Program Files (x86)\SmartBear\TestComplete 15\x64\Bin\TestComplete.exe" ^
    "%BUILD_SOURCESDIRECTORY%\Project-1\Project-1.pjs" ^
    /runexecutionplan ^
    /exit ^
    /SilentMode
  displayName: Run Project-1.pjs


