# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml
trigger: none

pool:
  name: Default   # your self-hosted Windows agent

stages:
- stage: QA
  displayName: Run TestComplete Tests
  jobs:
  - job: Run_TestComplete
    displayName: Execute TestComplete Project
    continueOnError: true

    steps:
    - checkout: none

    - task: CmdLine@2
      displayName: Run TestComplete Project-1
      condition: always()
      inputs:
        script: |
          echo Running TestComplete Project-1

          "C:\Program Files (x86)\SmartBear\TestComplete 15\x64\Bin\TestComplete.exe" ^
          "C:\Users\deepak.mangalagatti\Downloads\Project-1\Project-1.pjs" ^
          /run ^
          /project:Project-1 ^
          /test:"KeywordTests|Test1" ^
          /SilentMode ^
          /Exit
