trigger: none

pool:
  name: My_Local_Agent

steps:
- checkout: self
  clean: true

- script: |
    echo === Azure DevOps Workspace ===
    echo %BUILD_SOURCESDIRECTORY%
    dir "%BUILD_SOURCESDIRECTORY%"
  displayName: Verify workspace

- script: |
    echo === Running TestComplete ===
    "C:\Program Files (x86)\SmartBear\TestComplete 15\x64\Bin\TestComplete.exe" ^
    "%BUILD_SOURCESDIRECTORY%\Project-1\Project-1.pjs" ^
    /run ^
    /exit ^
    /SilentMode
  displayName: Run TestComplete Project

