# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml
trigger: none
pr: none

pool:
  name: My_Local_Agent

steps:
- checkout: self

- task: VSTest@3
  displayName: 'Run TestComplete Project (Adapter)'
  inputs:
    testSelector: testAssemblies
    testAssemblyVer2: '**\Project-1.pjs'
    searchFolder: '$(Build.SourcesDirectory)'
    pathtoCustomTestAdapters: '$(System.DefaultWorkingDirectory)\TestCompleteAdapter'
    diagnosticsEnabled: true









