trigger: none

pool:
  name: My_Local_Agent

steps:
- checkout: self
  clean: true

- script: |
    echo ===== Workspace =====
    echo %BUILD_SOURCESDIRECTORY%
    dir "%BUILD_SOURCESDIRECTORY%"
    dir "%BUILD_SOURCESDIRECTORY%\Project-1"

    echo ===== Running TestComplete =====
    "C:\Program Files (x86)\SmartBear\TestComplete 15\x64\Bin\TestComplete.exe" ^
    "%BUILD_SOURCESDIRECTORY%\Project-1\Project-1.pjs" ^
    /run ^
    /exit ^
    /SilentMode
  displayName: Run TestComplete Project


