# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml
trigger: none

pool:
  name: My_Local_Agent

steps:
- checkout: self
  clean: true

- script: |
    echo ===== WORKSPACE =====
    echo %BUILD_SOURCESDIRECTORY%
    dir "%BUILD_SOURCESDIRECTORY%"
    dir "%BUILD_SOURCESDIRECTORY%\Project-1"

    echo ===== RUNNING TESTCOMPLETE =====
    "C:\Program Files (x86)\SmartBear\TestComplete 15\x64\Bin\TestComplete.exe" ^
    "%BUILD_SOURCESDIRECTORY%\Project-1\Project-1.pjs" ^
    /run ^
    /project:Project-1 ^
    /test:Test1 ^
    /exit ^
    /SilentMode
  displayName: Run TestComplete Test1






