# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml
trigger: none
pr: none

pool:
  name: My_Local_Agent

steps:

# 1️⃣ Run TestComplete project (CLI – RELIABLE)
- script: |
    echo Running TestComplete Project-1

    "C:\Program Files (x86)\SmartBear\TestComplete 15\x64\Bin\TestComplete.exe" ^
    "C:\Users\deepak.mangalagatti\Downloads\Project-1\Project-1.pjs" ^
    /run ^
    /exit ^
    /SilentMode ^
    /ExportLog:"C:\temp\tcLogs\TestCompleteResult.mht"

    exit /b %ERRORLEVEL%
  displayName: "Run TestComplete Project-1"
  failOnStderr: true

# 2️⃣ Publish TestComplete log as artifact
- task: PublishPipelineArtifact@1
  displayName: "Publish TestComplete Log"
  condition: always()
  inputs:
    targetPath: 'C:\temp\tcLogs'
    artifact: 'TestCompleteLogs'
    publishLocation: 'pipeline'
