# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml
trigger:
- azure-pipelines

pool:
  name: My_Local_Agent

steps:
- checkout: self
  clean: true

# ==============================
# Run TestComplete Project
# ==============================
- script: |
    echo ===== Running TestComplete =====

    "C:\Program Files (x86)\SmartBear\TestComplete 15\x64\Bin\TestComplete.exe" ^
      "%BUILD_SOURCESDIRECTORY%\Project-1\Project-1.pjs" ^
      /run ^
      /exit ^
      /SilentMode
  displayName: "Run TestComplete Tests"

# ==============================
# Publish TestComplete Logs
# ==============================
- task: PublishBuildArtifacts@1
  displayName: "Publish TestComplete Results"
  inputs:
    PathtoPublish: '$(Build.SourcesDirectory)\Project-1\Logs'
    ArtifactName: 'TestComplete_Results'
    publishLocation: 'Container'







